# ML／DL演習　試験問題

### <font color='green'>・以下のセルに学籍番号と氏名を記入してください。セルはMarkdown形式となっていますので、ダブルクリックで入力してください</font>

学籍番号：　221115　　　　　　　　　氏名：陳　正偉

### <font color='green'>・終了後にファイル名を「学籍番号＋氏名.ipynb」に変更して提出して下さい</font>

### 以下の問に答えよ。テキストを見てもよい。ネット検索もOK。

問１～問１３　各５点  
問１４～問１８　各７点  
合計　１００点満点

#### 問１　pandas を importせよ

In [1]:
import pandas as pd

#### 以下のコードを実行せよ

In [2]:
heart = pd.read_csv('https://drive.google.com/uc?id=1Ca-CWUzVNbM2ZRYb9XxwDRkR5iGwnpxI')

このデータセットはUCIが提供しています。心臓病を予測するための分類問題に適用され、age、sexなど13種類の特徴量があり、正解データは最終列のnumとなっています。  
正解データのnumは0から4までのクラスに分かれていますが、ここでは、0とそれ以外の2値にまとめて処理します。

In [5]:

# num列の値を0かそれ以外の2値に変換します
heart['num'] = heart['num'].apply(lambda x: 0 if x == 0 else 1)

#### 問２　heartの先頭5行を表示せよ

In [6]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

#### 問３　heart の行数と列数を求めよ

In [7]:
rows, columns = heart.shape
print(f"行数: {rows}, 列数: {columns}")

行数: 303, 列数: 14

#### 問４　heart の統計量を求めよ

In [8]:
heart.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000,301.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241,4.734219,0.458746
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438,1.939706,0.499120
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,7.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,1.000000

#### 問５　欠損値がある行を削除せよ

ヒント：欠損値を削除する関数は、デフォルトでは新しいオブジェクトを返して元のオブジェクトは変更されない。そのため、元の変数に再代入するか、又は、引数inplace=Trueとする。

In [9]:
heart.dropna(inplace=True)

#### 問６　num カラムを以下のように変換せよ

~~~
変換前　変換後
0       0
1       1
2       1
3       1
4       1
~~~

ヒント：①上記の変換前と変換後の辞書を作る  
　　　　　class_mapping = {0:0, 1:1, 2:1, ・・・}  
　　　　②上記の辞書を使って、heart['num']カラムにmap関数を適用させる  map(class_mapping)

In [10]:
class_mapping = {0: 0, 1: 1, 2: 1, 3: 1, 4: 1}
heart['num'] = heart['num'].map(class_mapping)

#### 問７　num の 0, 1 別に各特徴量の平均値を求めよ
ヒント：①numでグープ分けする　heart.groupby('num')  
　　　　②グループ分けしたモノに対して平均を求める　mean()を使う

In [11]:
# 'num'カラムの値でデータをグループ分けし、各特徴量の平均値を求める
grouped = heart.groupby('num').mean()

print(grouped)

           age       sex        cp    trestbps        chol       fbs  \
num
0    52.643750  0.556250  2.793750  129.175000  243.493750  0.143750
1    56.759124  0.817518  3.583942  134.635036  251.854015  0.145985

      restecg     thalach     exang   oldpeak     slope        ca      thal
num
0    0.843750  158.581250  0.143750  0.598750  1.412500  0.275000  3.787500
1    1.175182  139.109489  0.540146  1.589051  1.824818  1.145985  5.832117

#### 問８　特徴量（X）、正解データ（y）をセットせよ

やりたい事は、  
①heartから特徴量を抜き出してXに代入  
②heartから正解データを抜き出してyに代入  

それで、  
①特徴量はage列（0番目）からthal列（12番目）なので、iloc[:, 0:13] または　iloc[:, :,-1]  
②正解データはnum列（13番目）なので、iloc[:, 13] または　iloc[:, -1]  
となる  

Xは大文字、yは小文字とする

In [12]:
X = heart.iloc[:, 0:13]  # または heart.iloc[:, :-1]
y = heart.iloc[:, 13]   # または heart.iloc[:, -1]

#### 問９　X と y を訓練データとテストデータに分割せよ

やりたい事は、XをX_trainとX_testに分割、yをy_trainとy_testに分割すること  
分割の割合は8：2にする。（test_size=0.2）  
train_test_split関数を使う　（from sklearn.model_selection import train_test_split）

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("X_trainのサイズ:", X_train.shape)
print("X_testのサイズ:", X_test.shape)
print("y_trainのサイズ:", y_train.shape)
print("y_testのサイズ:", y_test.shape)

X_trainのサイズ: (237, 13)
X_testのサイズ: (60, 13)
y_trainのサイズ: (237,)
y_testのサイズ: (60,)

#### 問１０　ランダムフォレストをインポートし、インスタンス化せよ

やりたいことは、ランダムフォレストのインポート　　（from sklearn.ensemble import RandomForestClassifier）  
次にランダムフォレストをインスタンス化する。ランダムフォレストはクラスなのでインスタンス化しないと使えないため。    
インスタンス化は、一般的にインスタンス変数名=クラス名()のようにする。  
例：rf = RandomForestClassifier()

In [15]:
from sklearn.ensemble import RandomForestClassifier

# ランダムフォレストをインスタンス化
rf = RandomForestClassifier()

#### 問１１　訓練データを与えて、モデルを学習させよ

やりたいことは、rfというモデルに訓練データ（X_train, y_train）を与えて、学習させること。  
やることは、rfに対してfitメソッドを働かせるダケ！

In [16]:
# ランダムフォレストモデルに訓練データを与えて学習させる
rf.fit(X_train, y_train)

RandomForestClassifier()

#### 問１２　訓練データに対する正解率を求めよ

やりたいことは、訓練データを使って、学習済みモデル（rf）の性能（正解率）を評価すること    
やることは、  
①まず、正解率を求める関数をインポートする  from sklearn.metrics import accuracy_score  
②学習済みモデル（rf）に訓練データ（X_train）を与えて、正解データを予測させる　rf.predict(X_train)  
③この予測した正解データと元々あった正解データ（y_train）をaccuracy_scoreに与えて、正解率を計算させる

In [17]:
from sklearn.metrics import accuracy_score

# 訓練データに対する予測を行う
y_train_pred = rf.predict(X_train)

# 正解率を計算する
train_accuracy = accuracy_score(y_train, y_train_pred)

# 結果を表示
print("訓練データに対する正解率:", train_accuracy)

訓練データに対する正解率: 1.0

#### 問１３　テストデータに対する正解率を求めよ

やりたいことは、テストデータを使って、学習済みモデル（rf）の性能（正解率）を評価すること    
やることは、問１２のX_trainデータをX_testデータに置き換えるだけ

In [18]:
from sklearn.metrics import accuracy_score

# テストデータに対する予測を行う
y_test_pred = rf.predict(X_test)

# 正解率を計算する
test_accuracy = accuracy_score(y_test, y_test_pred)

# 結果を表示
print("テストデータに対する正解率:", test_accuracy)

テストデータに対する正解率: 0.9

訓練データの正解率とテストデータの正解率がかなり違う結果となっていると思う。どのような事が起きているのか？考えてみよう！

#### <font color='green'>以降の問題はgoogle colab上で実行しているという前提で答えて下さい。</font>

#### mnistのデータを読み込んで、kerasなど必要なライブラリーをインポートし、one-hotなどの加工を行い、シーケンシャルモデルを構築するために以下のコードを書いた。
~~~
model = Sequential()
~~~
この状態で以下の問に答えて下さい。

#### 問１４　上記（model）に畳み込み層を追加したい。
畳み込みの内容を、  
・フィルターの大きさが3×3  
・フィルターの枚数が16  
とした時、適切なコードの番号を以下のセルに入力せよ。
~~~
1.  model.add(Conv2D(16, (3, 3), input_shape=(28, 28, 1)))
2.  model.add(Conv2D(3, (16, 16), input_shape=(28, 28, 1)))
3.  model.add(Conv2D((3, 3), 16, input_shape=(28, 28, 1)))
~~~

#### 問１５　上記（model）に活性化関数を追加したい。適切なコードを選べ。
~~~
1.  model.add(Activation('sigmoid'))
2.  model.add(Activation('relu'))
3.  model.add(Activation('softmax'))
~~~

#### 問１６　上記（model）にMaxPoolingを追加したい

画像をそれぞれの次元で半分にするとした時、適切なコードを選べ。

~~~
1.  model.add(MaxPooling2D((2, 1)))
2.  model.add(MaxPooling2D((2, 2)))
3.  model.add(MaxPooling2D((1, 2)))
~~~

#### 問１７　最後の出力層に接続するために1次元配列に変換したい。適切なコードを選べ。
~~~
1.  model.add(Flatten())
2.  model.add(Ravel())
3.  model.add(Array())
~~~

#### 問１８　上記（model）に０～９までの数字の確率を出力するための出力層を追加したい。適切なコードを選べ。
~~~
1.  model.add(Dense(10, activate='softmax'))
2.  model.add(Dense(2, activate='sigmoid'))
3.  model.add(Dense(10, activate='relu'))

~~~